<div class="container">
  <ul>
    <li class="question">
      <h2><%= @question %></h2>
      <p>-You</p>
    </li>

    <li class="answer">
      <h2><%= @answer %></h2>
      <p>-Your Coach</p>
    </li>
  </ul>
  <%= link_to'Ask me something else.', ask_path %>
</div>
